.git
.gitattributes
.gitignore
.gitmodules
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.egg-info
build
dist
docs/build
docs/build_out.txt
docs/clean_out.txt
tmp_*.py
tmp_*.txt
test_*.py
*.swp
*.swo
rendering_times.csv
update.bat
LICENSE
CONTRIBUTING.md
README.md
REUSE.toml
.readthedocs.yaml