# SPDX-FileCopyrightText: 2026 ExploreMaths
# SPDX-License-Identifier: MIT

__pycache__
build
dist
*.egg-info
.pytest_cache
media
update.bat
docs/build
rendering_times.csv
.vscode
.gitattributes
.DS_Store
docs/_c.log
docs/_v.log
.docspot
workflow/_refs_report.json
workflow/_validate_result.txt
workflow/_inline_refs_data.json
workflow/_inline_refs_result.txt
tests/__test_media_dir__